body
{
    text-align: center;
    color: brown;
    font-size: 20px;
    font-weight: 700;
    font-family: cursive;
}
.box
{
    width: 50%;
    margin: 70px auto;
    border: 5px solid brown;
    padding: 20px;
    border-radius: 20px;
    background: rgba(79, 109, 20, 0.32);
    box-shadow: 0 0 20px;
    height: 700px;
}
input
{
    padding: 5px;
    border-radius: 5px;
    color: #a52a3b;
    background: antiquewhite;
    font-weight: 900;
    border-left: 5px solid brown;
    border: 2px solid;
}
button
{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid brown;
    font-size: 14px;
    font-weight: 700;
    color: brown;
    background: burlywood;
    font-family: cursive;
}
input:hover
{
    box-shadow: 0 0 10px #777777;
}